* {
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible", sans-serif;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background: rgb(255, 244, 0);
    background: radial-gradient(circle, rgba(255, 244, 0, 0.44859950816264005) 0%, rgba(255, 0, 31, 0.19369754737832634) 100%);

    p {
        font-size: 1.3rem;
    }

    header {
        background-color: white;
        color: black;
        text-align: center;
        display: flex;
        border-bottom: 3px solid black;
        box-shadow: #111 0px 1px 10px;

        .title {
            flex: 1;
        }

        .menu {
            flex: 3;
            align-content: center;
            padding-right: 1%;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;

                li {
                    float: right;

                    a {
                        display: block;
                        color: black;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                    }

                    a:hover {
                        background-color: #111;
                        color: white;
                        transition: ease-in-out .5s;
                    }
                }
            }
        }
    }

    main {

        .profile {
            max-height: fit-content;
            display: flex;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.486), rgba(255, 254, 254, 0.226), rgba(255, 254, 254, 0.315), rgba(255, 254, 254, 0.315), rgba(167, 167, 167, 0.363)), url('/Jacobs-Portfolio-Site/images/Beluga_Point.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0% 60%;
            padding: 5%;
            box-shadow: inset 0px 0px 20px 0px #000000;

            .profile-content {
                width: 100%;
            }

            img {
                float: left;
                max-width: 20%;
                border-radius: 50%;
                margin-right: 5%;
                shape-outside: circle();

            }
        }

        .portfolio {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;

            .card {
                max-width: 75%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-basis: auto;
                padding: 1%;
                background-color: #f9f9f9;
                transition: 0.3s;
                margin: 1%;
                border: 1px solid black;
                // border-radius: 10px;
                box-shadow: #111 -1px 1px 10px;
                border-radius: 2%;

                img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 2%;
                }

                .container {
                    font-size: x-large;
                    text-align: center;
                    width: 100%;
                    align-items: center;

                    a {
                        color: black;

                        &:hover {
                            color: #ff0000;
                            transition: ease-in-out .5s;
                        }

                        &:not(:hover) {
                            color: black;
                            transition: ease-in-out 1s;
                        }
                    }
                }
            }
        }

        margin-bottom: .1%;
    }

    footer {
        text-align: center;
        border-top: 3px solid black;
        background-color: white;
        margin-bottom: 0;
        width: 100%;
        padding: .1%;
    }
}

.title {
    font-size: 2rem;
    font-weight: bold;
    padding: 1%;
    text-align: center;
}

// timeline css from w3schools 
// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_timeline